#logo
{
width: 200px;
height: 200px;
border-radius: 50%;
margin-right: 32mm;
}
#h1
{
    font-family: fanta;
    font-size: 70px;
    word-spacing: 2mm;
    font-weight: bolder;
}
#h2
{
    font-size: 10mm;
    font-weight: bolder;
    align-items: start;
    text-align: center;
    margin-left: 2mm;
    margin-right: 2mm;
}
#h3
{
    margin-left: 8mm;
    font-weight: bold;
    font-family: fantasy;
    letter-spacing: 0.1mm;
    word-spacing: 0.9mm;
    color: rgba(243, 57, 57, 0.733);
    font-size: 0.6cm;
}
#h3A
{
    margin-left: 8mm;
    font-weight: bold;
    font-family:cursive;
    letter-spacing: 0mm;
    word-spacing: 0mm;
    color: rgba(107, 57, 243, 0.733);
    font-size: 0.5cm;
}
#back
{
float: left;
width: 60px;
height: 60px;
border-radius: 50%;
padding: px;
margin-top: 4mm;
margin-left: 4mm;
margin-right: 2mm;
margin-bottom: 2mm;
}
#back:hover
{
	box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}